@page
@model Blog.Pages.Category.CreateModel
@{
    ViewData["Title"] = "Create Category";
}
<div class="container mt-5">
    <h2>Create Category</h2>
    <form method="POST">
        <div class="mb-3">
            <label asp-for="Category.Name" class="form-label">Category</label>
            <input asp-for="Category.Name" type="text" class="form-control @Model.IsNameValid" />
            <span asp-validation-for="Category.Name" class="is-invalid text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


